body {
  margin-top: 50px !important;
  background-color: #fff;
}

.chart-container {
  width: 90%;
  max-height: 450px;
  margin: 0 auto;
  padding-top: 10px;
}

#bar-chartcanvas {
  max-height: 430px !important;
}

.card-primary{
  background-color: darkgrey;
  border-color: darkgrey;
}

.card-green{
  border-color: #5cb85c !important;
}

.card-red{
  border-color: #d9534f !important;
}

.api-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.card-blue {
  background-color: #0275d8;
  border-color: #0275d8;
}

.label-info {
  margin-left: 5px;
}