body {
  margin-top: 50px !important; 
}

.chart-container {
  width: 90%;
  max-height: 450px;
  margin: 0 auto;
  padding-top: 10px;
}

#bar-chartcanvas {
  max-height: 430px !important;
}

.card-primary{
  background-color: darkgrey;
  border-color: darkgrey;
}

.api-text{
  word-wrap: break-word;
  overflow-wrap: break-word;
}